
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    background-image: url("resources/sfondo stazione.png");
    background-position: center;
    background-size: unset;
}

h1 {
    text-align: left;
    position: relative;
    font-size: 60px;
    margin-top: -0.5%;
    margin-left: 0.5%;
    color: #f3f3f3;
}

h2 {
    text-align: center;
}

.box{
    width: 100.5%;
    margin-left: -1%;
    margin-top: -1%;
    height: 12.5%;
    position: absolute;
}

.red{
    background: rgb(255, 59, 54);
}

table {
    color: #333;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: transparent;
}

td, th {
    border: 1px solid transparent;
    width: 120px;
    transition: all 0.5s;
}

#inv {
    visibility: hidden;
}

#slideLeft {
    left: 11.7%;
    top: 26%;
    border: 1px transparent;
    position: absolute;
    z-index: -1;
}

#slideRight {
    right: 11.6%;
    top: 26%;
    border: 1px transparent;
    position: absolute;
    z-index: -1;
}

th {
    background: #555;
    color: #F1F1F1;
}

td {
    background: #FAFAFA;
    text-align: center;
}

tr:nth-child(odd) td {
    background: #F1F1F1;
}

tr:nth-child(even) td {
    background: #FEFEFE;
}

tr:hover td {
    background: rgb(255, 59, 54);
    color: #FFF;
}

tr:hover #slideLeft {
    left: 2.6%; /* On mouse-over, make the elements appear as they should */
}

tr:hover #slideRight {
    right: 2.5%; /* On mouse-over, make the elements appear as they should */
}

#arr {
    text-align: center;
    overflow: hidden;
    display: inline-block;
    margin-top: -1%;
    margin-left: 2%;
}

#dep {
    text-align: center;
    float: right;
    overflow: hidden;
    margin-top: -1%;
    margin-right: 1.8%;
}