
body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    background-image: url("resources/sfondo stazione.png");
    background-position: center;
    background-size: unset;
}

h1 {
    text-align: left;
    position: relative;
    font-size: 60px;
    margin-top: 0;
    margin-left: 0.8%;
    color: white;
    z-index: 1;
}

h2 {
    text-align: center;
}

.boxRed {
    width: 100%;
    height: 75px;
    position: absolute;
    background: rgb(255, 59, 54);
    z-index: 1;
}

.menuIcon:hover .sidenav {
    visibility: visible;
}

table {
    color: #333;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: transparent;
}

td, th {
    border: 1px solid transparent;
    width: 120px;
    transition: all 0.5s;
}

#inv {
    visibility: hidden;
}

#tabtitle {
    background-color: rgb(255, 59, 54);
    font-size: 150%;
}

#slideLeft {
    left: 19.9%;
    top: 26%;
    border: 1px transparent;
    position: sticky;
    z-index: -1;
    visibility: hidden;
}

a {
    color: #000000;
    text-decoration: none
}

#slideRight {
    right: 20.1%;
    top: 26%;
    border: 1px transparent;
    position: sticky;
    z-index: -1;
}

*[data-href] {
    cursor: pointer;
}

td a {
    display: inline-block;
    min-height: 100%;
    width: 100%;
}

th {
    background: #555;
    color: #F1F1F1;
}

td {
    background: #FAFAFA;
    text-align: center;
}

tr:nth-child(even) td {
    background: #F1F1F1;
}

tr:nth-child(odd) td {
    background: #FEFEFE;
}

tr:hover td {
    background: rgb(255, 59, 54);
    color: white;
    cursor: pointer;
}

tr:hover a {
    color: #FFF;
}

tr:hover #slideLeft {
    left: 2.6%;
    visibility: visible;
    color: white;
}

tr:hover #slideRight {
    right: 2.5%;
    visibility: visible;
    color: white;
}

#arr {
    text-align: center;
    overflow: hidden;
    display: inline-block;
    margin-left: 2%;
}

#dep {
    text-align: center;
    float: right;
    overflow: hidden;
    margin-right: 2%;
}

.menuIcon {
    position: absolute;
    z-index: 1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    display: inline-block;
    margin-top: -106px;
    margin-left: 47%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    visibility: hidden;
    position: sticky;
    background-color: rgb(255, 59, 54);
    font-size: 18px;
    min-width: 120px;
    margin-left: -40px;
    z-index: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 0.5s;
    text-align: right;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #555;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    visibility: visible;
    transition: 0.5s;
    margin-left: -60px;
    margin-top: 70px;
    z-index: 0;
}

.dropdown:not(:hover) .dropdown-content {
    visibility: hidden;
    margin-left: -60px;
    margin-top: -200px;
    transition: 0.5s;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid white;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}