
body {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-align: center;
    position: relative;
    background: rgba(0, 227, 255, 0.31);
}

h2 {
    text-align: center;
}

td {
    text-align: center;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
}

#arr {
    width: 40%;
    overflow: hidden;
    display: inline-block;
    margin-left: 10%;
}

#dep {
    float: right;
    overflow: hidden;
    width: 40%;
    margin-right: 10%;
}